// Fonts
$font-primary: 'Open Sans', Arial, sans-serif;

// Colors
$vivid-primary-color: #e51726;
$vivid-secondary-color: #d4208c;

$text-black: #3a3a3a;
$text-white: #ffffff;
$placeholder-grey: #b3b3b3;
$error-color: #f22533;

$bg-white: #ffffff;

$shadow-base: #0000001a;

// Font Weights
$font-weight-light: 400;
$font-weight-regular: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Font Sizes
$font-size-base: 16px;

// Breakpoints
$breakpoints: (
  'sm': 375px,
);
