@use 'sass:map';
@use '../utils/variables';

.hero-container {
  display: flex;
  gap: 20px;

  flex-direction: column;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero-img {
  object-fit: contain;

  max-width: 100%;
  width: 290px;
  height: 274px;
  margin: 0 auto;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    max-width: unset;
    width: 729px;
    height: 689px;
    margin: unset;
  }
}

.hero-section {
  display: flex;
  flex-direction: column;

  gap: 18.33px;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    gap: 52.79px;
    width: 483px;
    padding-right: 30px;
  }
}
