@use 'sass:map';
@use '../utils/variables';
@use '../utils/mixins';

.register-modal {
  &[open] {
    display: flex;
  }

  &::backdrop {
    backdrop-filter: blur(15px);
  }

  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: auto;
  width: calc(100% - 32px);
  max-width: 1270px;

  background-color: variables.$bg-white;
  box-shadow: 0px 0px 10px 0px variables.$shadow-base;

  border-radius: 20px;
  padding: 75px 16px 75px 16px;
  min-height: 439px; // to ensure that layout doesn't jump that views change from register-form to thank-you
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    border-radius: 50px;
    padding: 150px 45px 150px 45px;
    min-height: 652px;
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    right: 10px;
    top: 20px;
    width: 20.76px;
    height: 20.76px;
    @media (min-width: map.get(variables.$breakpoints, 'md')) {
      right: 45px;
      top: 45px;
      width: 28.53px;
      height: 28.54px;
    }
  }

  .close-btn-img {
    max-width: 100%;
  }
}

.register-form-container {
  display: none;
  &.show {
    display: flex;
  }

  flex-direction: column;
  max-width: 620px;

  gap: 15px;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    gap: 30px;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    gap: 30px;
  }

  .submit-btn {
    width: 166px;
    @media (min-width: map.get(variables.$breakpoints, 'md')) {
      width: 387px;
    }
  }
}

.register-form-title {
  font-weight: variables.$font-weight-bold;
  text-align: center;
  @include mixins.tracking-tight();

  font-size: 17px;
  line-height: 24px;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    font-size: 24px;
    line-height: 28px;
  }
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 8px;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    gap: 12px;
  }

  .input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid variables.$text-black;
  }

  &.error .input {
    border-color: variables.$error-color;
  }

  .error-message {
    text-align: center;
    font-weight: variables.$font-weight-regular;
    font-size: 12px;
    line-height: 18px;
    color: variables.$error-color;
  }

  .error-icon {
    display: none;
  }

  &.error .error-icon {
    display: block;
  }

  input {
    font-weight: variables.$font-weight-regular;
    width: 100%;
    text-align: center;

    font-size: 14px;
    line-height: 22px;
    @media (min-width: map.get(variables.$breakpoints, 'md')) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  input::placeholder {
    color: variables.$text-grey;
  }
}

.thank-you {
  display: none;
  &.show {
    display: flex;
  }

  flex-direction: column;
  gap: 12px;
  max-width: 176px;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    gap: 20px;
    max-width: unset;
  }

  .thank-you-desc {
    text-align: center;
    color: variables.$text-black;
    font-weight: variables.$font-weight-bold;
    line-height: 100%;
    @include mixins.tracking-tight();

    font-size: 14px;
    @media (min-width: map.get(variables.$breakpoints, 'md')) {
      font-size: 28px;
    }
  }
}
