@use 'sass:map';

@use './base/fonts';
@use './base/reset';
@use './base/typography';

@use './utils/variables';
@use './utils/helpers.scss';

@use './components/buttons';

@use './layouts/hero.scss';
@use './layouts/register-modal.scss';

body {
  font-size: variables.$font-size-base;
  font-family: variables.$font-primary;

  padding: 16px;
  @media (min-width: map.get(variables.$breakpoints, 'md')) {
    padding: 90px;
  }

  &.modal-open {
    overflow: hidden;
  }
}
